In [1]:
a = 2
b = 3
print(a+b)

5

In [6]:
def add():
    a = 2
    b = 3
    print(a+b)
add()

5

In [8]:
add(7+8)

TypeError: add() takes 0 positional arguments but 1 was given

In [10]:
def add(a,b):# parameter
    print(a+b)
add(7,5) #positional arguments

12

In [11]:
add(6,5)

11

In [12]:
add(int(input("enter the first number")),int(input("enter the second number")))

enter the first number 2
enter the second number 3

5

In [19]:
lis= [1,2,1,5,3,5,2,7,3,6]
zero = 0
for i in lis:
    zero=zero+i
print(zero)

35

In [25]:
def add(a):
    zero = 0
    for i in lis:
        zero=zero+i
    print(zero)
lis= [1,2,1,5,3,5,2,7,3,6]
add(lis)

35

6

In [35]:
lis= [1,2,1,5,3,5,2,7,3,6]
print(lis[::-1])

[6, 3, 7, 2, 5, 3, 5, 1, 2, 1]

In [39]:
def rever(a):
    return a[:: -1]

lis= [1,2,1,5,3,5,2,7,3,6]
rever(lis)

[6, 3, 7, 2, 5, 3, 5, 1, 2, 1]

In [40]:
zero=0
for i in lis:
    if i%2==0:
        zero+=i
print(zero)

10

In [42]:
def addodd(a):
    zero=1
    for i in lis:
        if i%2==0:
            zero*=i
    print(zero)
lis= [6, 3, 7, 2, 5, 3, 5, 1, 2, 1]
addodd(lis)

24

In [45]:
nd = []
for i in lis:
    if i not in nd:
        nd.append(i)
print(nd)

[6, 3, 7, 2, 5, 1]

In [49]:
def dup(a):
    for i in a:
        if i not in nd:
            nd.append(i)
    print(nd)
li= [6, 3, 7, 2, 5, 3, 5, 1, 2, 1]
dup(li)

[6, 3, 7, 2, 5, 1]

In [53]:
li2=[]
li3=[]
for i in li:
    li2.append(i)
    if li2.count(i) > 1:
        li3.append(i)
print(li3)

[3, 5, 2, 1]

In [56]:
li1 = [6, 3, 7, 2, 5]
li4 = [3, 5, 2, 1,9]
li1.extend(li4)
print(li1)

[6, 3, 7, 2, 5, 3, 5, 2, 1, 9]

In [58]:
for i in li1:
    li4.append(i)
print(li4)

[3, 5, 2, 1, 9, 6, 3, 7, 2, 5, 3, 5, 2, 1, 9, 6, 3, 7, 2, 5, 3, 5, 2, 1, 9]

In [60]:
l= []
for i in li1:
    l.append(i)
for j in li4:
    l.append(j)
print(l)

[6, 3, 7, 2, 5, 3, 5, 2, 1, 9, 3, 5, 2, 1, 9, 6, 3, 7, 2, 5, 3, 5, 2, 1, 9, 6, 3, 7, 2, 5, 3, 5, 2, 1, 9]

In [61]:
li1 = [6, 3, 7, 2, 5]
li4 = [3, 5, 2, 1,9]
for i in li1:
    if i not in li4:
        li4.append(i)

print(li4)

[3, 5, 2, 1, 9, 6, 7]

In [64]:
def con(a,b):
    for i in a:
        if i not in b:
            b.append(i)
    print(b)
aa = [6, 3, 7, 2, 5]
bb = [3, 5, 2, 1,9]   
con(aa,bb)

[3, 5, 2, 1, 9, 6, 7]

In [66]:
ab = [1,3,5,7]
bc = [2,4,6,8]
con(ab,bc)

[2, 4, 6, 8, 1, 3, 5, 7]

In [74]:
#  keyword argument
def details(nam, boyos):
    name = nam
    age = boyos
    return name, age

details(boyos = 23,nam = "prottoy" )

('prottoy', 23)

In [89]:
#  keyword argument
def details(age, name = "prottoy"):
    name = name
    age = age
    return name ,age
    
details(26)

('prottoy', 26)

In [86]:
def details(age, name="prottoy"):
    return name, age
    
details(26)

('prottoy', 26)

In [93]:
l = [1,5,9,8]
for i in l :
    print(i*i)

1
25
81
64

In [94]:
val1 = int(input("enter a number"))
val2 = int(input("enter the second number bigger than 1st number"))
zero = 0
for i in range(val1,val2+1):
    zero+=i
print(zero)

enter a number 10
enter the second number bigger than 1st number 20

165

In [95]:
def name():
    return  "sajib"

name()

'sajib'

In [96]:
def name():
    print("prottoy")
    return  "sajib"

name()

prottoy

'sajib'

In [97]:
def name(dep):
    return(f"the name of the department is {dep}")

name("CSE")

'the name of the department is CSE'

In [101]:
def user():
    val1 = int(input("enter a number"))
    val2 = int(input("enter the second number bigger than 1st number"))
    va1 = int(input("enter a number"))
    va2 = int(input("enter the second number bigger than 1st number"))
    return (val1,va1),(val2,va2)

user()

enter a number 8
enter the second number bigger than 1st number 9
enter a number 7
enter the second number bigger than 1st number 6

((8, 7), (9, 6))

In [102]:
value1, value2 = user()

enter a number 8
enter the second number bigger than 1st number 9
enter a number 7
enter the second number bigger than 1st number 6

In [103]:
value1

(8, 7)

In [104]:
value2

(9, 6)

In [105]:
value1, _ = user()

enter a number 9
enter the second number bigger than 1st number 8
enter a number 7
enter the second number bigger than 1st number 6

In [106]:
value1

(9, 7)